<!DOCTYPE html>
<html>
  <head>
    <title>Prime Surgical - ZBH Rib</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="file:////Users/alphaprime/.vscode/extensions/shd101wyy.markdown-preview-enhanced-0.8.8/crossnote/dependencies/katex/katex.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
    
      html body {
        font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans,
          sans-serif;
        font-size: 16px;
        line-height: 1.6;
        color: #89cff0;
        background: linear-gradient(to right, #283542, #1e375c); /* Gradient from dark grey to navy blue */
        overflow: initial;
        box-sizing: border-box;
        word-wrap: break-word;
        padding: 0.5em;
      }
      html body > :first-child {
        margin-top: 0;
      }
      html body h1,
      html body h2,
      html body h3,
      html body h4,
      html body h5,
      html body h6 {
        line-height: 1.2;
        margin-top: 1em;
        margin-bottom: 16px;
        color: #89cff0;
      }
      html body h1 {
        font-size: 2.25em;
        font-weight: 600;
        padding-bottom: 0.3em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        color: #89cff0;
      }
      html body h2 {
        font-size: 1.75em;
        font-weight: 800;
        padding-bottom: 0.3em;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        margin-right: 5px;
      }
      html body h3 {
        font-size: 1.5em;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
      html body h4 {
        font-size: 1.25em;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
      html body h5 {
        font-size: 1.1em;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
      html body h6 {
        font-size: 1em;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
      html body h1#prime-surgical {
        margin-top: 0;
        padding-top: 0.35em; /* You can also remove padding if needed */
      }

      nav.navbar {
        margin-top: 0;
        padding-top: 0; /* You can also remove padding if needed */
      }
    </style>

    <nav class="navbar border-bottom border-body">
      <div class="container-fluid">
        <h1 id="prime-surgical">Prime Surgical</h1>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </head>
  <body for="html-export">
    <div class="crossnote markdown-preview">
     
      <h2 id="knowledge--training">Knowledge &amp; Training</h2>
      <h3 id="zimmer-biomet-portfolio">
        Zimmer Biomet Sternal Closure Portfolio
      </h3>
      <hr />
      <h3 id="table-of-contents">Table of Contents</h3>
      <p>
        Links to each section of this document are provided below:
      </p>
      <ol>
        <li><a href="#resources">Resources</a></li>
        <li><a href="#portfolio-overview">Portfolio Overview</a></li>
        <li><a href="#sternal-closure">
          Sternal Closure - Portfolio Technical Specifics</a>
        </li>
        <li><a href="#foundational-review">Foundational Review</a></li>
            <ol>
                  <li>Key Concept: Cardiothoracic Surgical Access</li>
                  <li>Key Concept: Anatomy of the Sternum</li>
                  <li>Key Concept: Sternal Closure in Cardiac Surgery</li>
            </ol>
        <li><a href="#clinical-evidence-review">Clinical Evidence Review</a></li>
        <ol>
                  <li>Sternalock Blu Study</li>
                  <li>Restore Study</li>
                  
            </ol>
        
      </ol>
      
      <hr />
      <h2 id="resources">Resources</h3>
      <p>
        <code>airtable zb base</code> <br />
        <code>loop</code> <br />
        <code>google sheets</code><br />
        <code>key zimmer contacts</code><br />
        <code>zb billing process &amp; contacts</code> <br />
      </p>
      <hr />
      <h2 id="portfolio-overview">Portfolio Overview</h3>
      <h3 id="cv">CV Bucket</h2>
      <p>
        A large part of the Zimmer portfolio comes from the broader category of
        <code>sternal closure</code>.
      </p>
      <p>
        Most of the programs we work with use <code>rigid fixation</code>
        for sternal closure. Some plate patients selectively, while others 
        use sternal plating for all patients. <code>sternal wires</code> are
        still commonly used, often in conjunction with plates. <code>double wire</code> 
        and <code>sternal cable</code> are also available technologies in 
        our <code>sternal closure</code> portfolio.
      </p>
      <p>
        Additionaly, the growing portfolio includes a number of single-use
        items, such as <code>atrial and ventricular pacing wires</code>,
        <code>temporary pacing cables</code>, and a <code>punch</code>.
      </p>
      
      <h4 id="sternal-closure-1">Sternal Closure</h4>
      <p>
        <code>sternal plating</code> is the largest category of the portfolio.
        Roughly 1.45M of the 2.2M in Zimmer Biomet revenue (2023 expected) will
        come from the sternal plating product category.
      </p>
      <p>
        We are very well penetrated in our market. That said there are still
        multiple vectors to outpace the national growth rate. This will be
        subject to change, but expect a 12-15% growth target for the CV bucket
        of our Zimmer Biomet portfolio.
      </p>
      <p><strong>Annual Sternal Closure Revenue:</strong></p>
      <p>This includes all rigid fixation and single-use items used for sternal closure. You can expand each account to view the items each is actively ordering:</p>
      <iframe
        src="https://docs.google.com/spreadsheets/d/1acwZHZ0JmoPFnmanLvslJ36a6xSQyUo73u8yvZhh3Hg/edit?usp=sharing#gid=427071414"
        width="90%"
        height="600"
        allow="autoplay"
      ></iframe>
      <p><strong>Annual Sternal Closure Revenue (Airtable 2023):</strong></p>
      <iframe class="airtable-embed" src="https://airtable.com/embed/appOR68ajLjMOe0Wq/shrYM0Ug8kyqU1Or4?backgroundColor=green&viewControls=on" frameborder="0" onmousewheel="" width="90%" height="950" style="background: transparent; border: 1px solid #ccc;"></iframe>
      
      <h4><strong>Growth Vectors:</strong></h4>
      <ol>
        <li>
          New Business
          <ol>
            <li>
              competitive conversions (for example, converting JFK Medical
              Center from Synthes -&gt; EZ)
            </li>
            <li>
              method conversions (wires -&gt; plates, etc. - for example, a new
              sureon we have moving down to CCF Indian River who has used our
              plates)
            </li>
          </ol>
        </li>
        <li>
          Technology Progression
          <ol>
            <li>Steralock Blu -&gt; Sternalock EZ</li>
            <li>
              Sternalock XP (anterior fixation -&gt; rigid fixation with
              integrated cerclage)
            </li>
          </ol>
        </li>
        <li>
          Increased Utilization Rates
          <ol>
            <li>Core Relationship Management (Surgeons, OR Staff, etc.)</li>
            <li>
              Increased Sales Bandwidth
              <ol>
                <li>Scale with new business (new team members)</li>
                <li>
                  specialized roles (seperate mission driven roles from
                  function/process driven roles)
                </li>
                <li>
                  effective operations (resource management, process
                  improvement, etc.)
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          Cross-Selling
          <ol>
            <li>
              Sternal Closure - <code>sternal wires</code>
              <code>double wire</code> <code>sternal cable</code>
            </li>
            <li>
              Temporary Pacing - <code>tempoarary pacing cables</code>
              <code>atrial pacing wires (monopolar)</code> <code>atrial pacing wires
                (bipolar)</code>
              <code>ventricular pacing wires (bipolar)</code>
              <code>ventricular pacing wires (monopolar)</code>
            </li>
            <li>Proximal Coronary Anastamosis - <code>punch</code></li>
            <li>The rest of the Prime Surgical CV Portfolio</li>
          </ol>
        </li>
      </ol>
      <p>
        If we are maximally effective, Prime Surgical will serve as a proxy for
        quality products in the cardiovascular space. We will deliver
        outstanding service, and grow to become a trusted parter of the surgeons
        and teams that we work with. As we integrate further into the programs
        we serve we'll be able to (1) capitalize on new opportunities while (2)
        continuing to provide ever increasing value to our customers. We're then able to
        project these sucesses and relationships upstream as we see fit.
      </p>
      <p>
        I believe we can acheive this flywheel, and continue to deliver more
        value to all stakeholders.
      </p>
       <hr />
      <p><a href="#table-of-contents">Back to Top</a></p>
      
      <h3 id="sternal-closure">Sternal Closure - Portfolio Technical Specifics</h3>
      <p>
        This section will lay out the various products that make up our
        sternal closure portfolio with Zimmer Biomet. We have 4 different
        sternal plating systems to position and sell. The preference profiles of
        the individual surgeons we work with will be intentionally scrutinized.
        Each of our systems have individual attributes that often dictate which
        system is optiomal in a given situation. Our obective is to understand
        the surgeon's preferences, and to position the system that is most
        likely to be utilized.
      </p>
      <p>
        Our systems fall into two primary categories: (1)
        <strong>Anterior Rigid Fixation</strong> and (2)
        <strong>Rigid Fixation with Integrated Cerclage</strong>.
      </p>

      <p><strong>Products:</strong></p>
      <code>sternalock blu</code> <br />
      <code>sternalock ez</code> <br />
      <code>sternalock 360</code> <br />
      <code>sternalock XP</code> <br />
      <code>sternal wire (single wire)</code> <br />
      <code>sternal wire (double wire)</code> <br />

     
      <br />
     <br />
            <!-- First row of cards -->
      <div class="row">
          <!-- Sternalock Blu Card -->
          <div class="col-md-3">
              <div class="card">
                  <img src="../../static/img/slb_card.png" class="card-img-top" alt="Sternalock Blu Image" height="300px">
                  <div class="card-body">
                      <h5 class="card-title">Sternalock Blu</h5>
                      <p class="card-text">Anterior Rigid Fixation </p>
                      <a href="{% url 'training_resources:zbslb' %}">Explore Product</a>
                  </div>
              </div>
          </div>
          <!-- Sternalock Ez Card -->
          <div class="col-md-3">
              <div class="card">
                  <img src="../../static/img/ez_card_alt.png" class="card-img-top" alt="Sternalock Ez Image" height="300px">
                  <div class="card-body">
                      <h5 class="card-title">Sternalock Ez</h5>
                      <p class="card-text">Anterior Rigid Fixation </p>
                      <a href="{% url 'training_resources:zbez' %}">Explore Product</a>
                  </div>
              </div>
          </div>
          <!-- Sternalock 360 Card -->
          <div class="col-md-3">
              <div class="card">
                  <img src="../../static/img/360_card.png" class="card-img-top" alt="Sternalock 360 Image" height="300px">
                  <div class="card-body">
                      <h5 class="card-title">Sternalock 360</h5>
                      <p class="card-text">Rigid Fixation Integrated Cerclage </p>
              
                      <a href="{% url 'training_resources:zb360' %}">Explore Product</a>
                  </div>
              </div>
          </div>
          <!-- Sternalock XP Card -->
          <div class="col-md-3">
              <div class="card">
                  <img src="../../static/img/xp_card_alt.png" class="card-img-top" alt="Sternalock XP Image" height="300px">
                  <div class="card-body">
                      <h5 class="card-title">Sternalock XP</h5>
                      <p class="card-text">Rigid Fixation Integrated Cerclage </p>
                      <a href="{% url 'training_resources:zbxp' %}"">Explore Product</a>
                  </div>
              </div>
          </div>
      </div>

      <!-- Second row of cards -->
      <div class="row mt-4">
          <!-- Sternal Wire (Single Wire) Card -->
          <div class="col-md-4">
              <div class="card">
                  
                  <div class="card-body">
                      <h5 class="card-title">Sternal Wire (Single Wire)</h5>
                  
                      <a href="{% url 'training_resources:zbwires' %}">Explore Product</a>
                  </div>
              </div>
          </div>
          <!-- Sternal Wire (Double Wire) Card -->
          <div class="col-md-4">
              <div class="card">
                  
                  <div class="card-body">
                      <h5 class="card-title">Sternal Wire (Double Wire)</h5>
                      
                      <a href="{% url 'training_resources:zbwires' %}">Explore Product</a>
                  </div>
              </div>
          </div>
          <!-- Another Product Card -->
          <div class="col-md-4">
              <div class="card">
                  
                  <div class="card-body">
                      <h5 class="card-title">Sternal Cable</h5>
                     
                      <a href="{% url 'training_resources:zbwires' %}">Explore Product</a>
                  </div>
              </div>
          </div>
      </div>

      <br />
      <hr />
      <p><a href="#table-of-contents">Back to Top</a></p>
      <h3 id="foundational-review">Foundational Review</h3>
      <h5 id="key-concept-cardiothoracic-surgical-access">
        Key Concept: <strong>Cardiothoracic Surgical Access</strong>
      </h5>
      <p>
        Cardiothoracic surgical access refers to the methods and approaches used
        by surgeons to gain access to the heart and surrounding structures
        within the thoracic cavity. The choice of surgical access is determined
        by various factors, including the type of cardiac surgery being
        performed, the patient's anatomy, and the surgeon's expertise. Below are
        some of the common approaches used in cardiothoracic surgery:
      </p>
      <p>
        <img src="../../static/img/cardiac_approaches.png" alt="approaches" width="70%"/>
      </p>
      <p><strong>1. Sternotomy</strong></p>
      <ul>
        <li>
          <strong>Process:</strong> A full sternotomy involves making a vertical
          incision along the midline of the chest, followed by the division of
          the sternum, to provide wide access to the heart and lungs.
        </li>
        <li>
          <strong>Usage:</strong> This approach is commonly used for various
          cardiac surgeries, such as coronary artery bypass grafting (CABG),
          valve replacements, and heart transplants.
        </li>
        <li>
          <strong>Advantages:</strong> It provides extensive visibility and
          access to the thoracic structures.
        </li>
        <li>
          <strong>Disadvantages:</strong> It involves a larger incision and can
          be associated with more pain and a longer recovery period
          post-surgery.
        </li>
      </ul>
      <p>
        <img
          src="../../static/img/full_sternotomy.png"
          alt="Full Sternotomy"
          width="70%"
        /><br />
        <img src="../../static/img/full_sternotomy_2.png" alt="Sternotomy" width="70%"/>
      </p>
      <p>
        In a standard procedure, following the sternotomy, the sternum is
        divided using a sternal saw. The sternum is then retracted using a
        sternal retractor. The surgeon dissects down to the pericardium, which
        is a fibrous sac that surrounds the heart. The pericardium is opened and
        retracted using a "stay" suture (<em>seen in image below</em>) for
        visaibility and access to the heart. The surgeon then performs the
        surgical procedure on the heart. Following the procedure, the
        pericardium is closed, the sternum is approximated, and the sternum is
        closed using sternal closure wires, cables, or plates.
      </p>
      <p>
        <img src="../../static/img/full_sternotomy_3.png" alt="Sternotomy" width="50%"/>
      </p>
      <p><strong>2. Partial or Mini-Sternotomy:</strong></p>
      <ul>
        <li>
          <strong>Process:</strong> A partial or mini-sternotomy involves making
          a smaller incision and dividing only a portion of the sternum, either
          the upper or lower part.
        </li>
        <li>
          <strong>Usage:</strong> It is often utilized for minimally invasive
          valve surgery or CABG.
        </li>
        <li>
          <strong>Advantages:</strong> It is associated with less pain, reduced
          blood loss, and a shorter recovery period compared to a full
          sternotomy.
        </li>
        <li>
          <strong>Disadvantages:</strong> It may provide limited visibility and
          access compared to a full sternotomy.
        </li>
        <li><strong>Types:</strong></li>
      </ul>
      <p>
        <img src="../../static/img/mini_sternotomy.png" alt="Mini Sternotomy" width="70%"/>
      </p>
      <p><strong>3. Mini-Thoracotomy</strong></p>
      <ul>
        <li>
          <p>
            <strong>Process:</strong> A mini-thoracotomy involves making a small
            incision between the ribs, without dividing the sternum, to access
            the heart.
          </p>
        </li>
        <li>
          <p>
            <strong>Usage:</strong> This approach is commonly used for minimally
            invasive valve surgeries, particularly for the aortic and mitral
            valves.
          </p>
        </li>
        <li>
          <p>
            <strong>Advantages:</strong> It is associated with less pain and a
            quicker recovery compared to a sternotomy. It also avoids the need
            to divide the sternum.
          </p>
        </li>
        <li>
          <p>
            <strong>Disadvantages:</strong> It provides limited access and
            visibility, and may not be suitable for more complex cardiac
            procedures.
          </p>
          <p>
            <img
              src="../../static/img/mini_approaches.png"
              alt="Mini Thoracotomy"
              width="70%"
            />
          </p>
        </li>
      </ul>
      <p><strong>Considerations for Surgical Access</strong></p>
      <ul>
        <li>
          <strong>Patient Factors:</strong> The patient’s anatomy, medical
          history, and the presence of any co-morbidities are considered when
          choosing the surgical approach.
        </li>
        <li>
          <strong>Surgical Factors:</strong> The type of surgery, the need for
          visibility and access, and the surgeon’s expertise influence the
          choice of access.
        </li>
        <li>
          <strong>Recovery:</strong> Minimally invasive approaches tend to be
          associated with less pain and a quicker recovery, but are not suitable
          for all types of surgeries.
        </li>
      </ul>
      <p>
        In conclusion, the choice of cardiothoracic surgical access is
        multifaceted and tailored to each individual patient and surgical
        procedure. The surgeon will weigh the benefits and drawbacks of each
        approach to determine the most suitable method of access.
      </p>

    
      <hr />
      <p><a href="#table-of-contents">Back to Top</a></p>
      <h5 id="key-concept-anatomy-of-the-sternum">
        Key Concept: <strong>Anatomy of the Sternum</strong>
      </h5>
      <p>
        The sternum, also known as the breastbone, is a flat bone that forms the
        anterior portion of the chest wall. It is a T-shaped bone that is
        divided into three parts: the manubrium, the body, and the xiphoid
        process.
      </p>
      <p>
        <img
          src="../../static/img/sternum_anterior_overview.png"
          alt="stenrum"
          width="70%"
        />
      </p>
      <p><strong>Manubrium</strong></p>
      <p>
        The manubrium is the broad, superior segment of the sternum. It
        articulates with the clavicles at the sternoclavicular joints and with
        the costal cartilages of the first pair of ribs. The manubrium also has
        a number of important landmarks, including the jugular notch, which is
        located at the superior margin of the manubrium and lies between the two
        clavicles.
      </p>
      <p>
        <img
          src="../../static/img/sternum_side_profile.png"
          alt="sternum manubrium anatomy"
          width="70%"
        />
      </p>
      <p><strong>Body</strong></p>
      <p>
        The body of the sternum is the middle portion of the bone. It
        articulates with the costal cartilages of the second to seventh pairs of
        ribs. The body of the sternum is also the site of attachment for a
        number of muscles, including the pectoralis major, pectoralis minor, and
        sternocleidomastoid muscles.
      </p>
      <p>
        <img
          src="../../static/img/sternum_with_ribs.png"
          alt="sternum with ribs"
          width="70%"
        />
      </p>
      <p><strong>Xiphoid process</strong></p>
      <p>
        The xiphoid process is the narrow, inferior segment of the sternum. It
        is a cartilaginous structure in children and young adults, but it
        ossifies (hardens) with age. The xiphoid process is the site of
        attachment for the diaphragm and the rectus abdominis muscles.
      </p>
      <p><strong>Functions of the sternum</strong></p>
      <p>The sternum has a number of important functions, including:</p>
      <ul>
        <li>
          <strong>Protection:</strong> The sternum helps to protect the vital
          organs of the chest, including the heart, lungs, and major blood
          vessels.
        </li>
        <li>
          <strong>Support:</strong> The sternum provides support for the rib
          cage and helps to maintain the shape of the chest.
        </li>
        <li>
          <strong>Muscle attachment:</strong> The sternum is the site of
          attachment for a number of important muscles, including the pectoralis
          major, pectoralis minor, sternocleidomastoid, diaphragm, and rectus
          abdominis muscles.
        </li>
      </ul>
      <p>
        <img src="../../static/img/sternal_healing.png" alt="sternal healing" width="70%" />
      </p>
      
      <hr />
      <p><a href="#table-of-contents">Back to Top</a></p>
      <h4 id="key-concept-sternal-closure-in-cardiac-surgery">
        Key Concept: <strong>Sternal Closure in Cardiac Surgery</strong>
      </h4>
      <p>
        Sternal closure is a critical phase in cardiac surgery, following
        intrathoracic procedures, where the sternum, which has been surgically
        divided or entered, is securely closed to ensure stability, promote
        healing, and prevent complications. This process is vital for protecting
        underlying structures like the heart and lungs and providing structural
        integrity during the recovery period.
      </p>
      <p>
        <img src="../../static/img/wire_v_plates.png" alt="Sternal Closure" width="70%"  />
      </p>
      <p><strong>Procedure of Sternal Closure</strong></p>
      <ol>
        <li>
          <p><strong>Alignment (Approximation):</strong></p>
          <ul>
            <li>
              <strong>Positioning:</strong> The two halves of the sternum are
              aligned accurately to ensure proper healing and to minimize the
              risk of non-union or malunion.
            </li>
            <li>
              <strong>Stability:</strong> Ensuring that the sternum is stable
              and that there is no excessive movement at the closure site.
            </li>
          </ul>
        </li>
        <li>
          <p><strong>Fixation:</strong></p>
          <ul>
            <li>
              <strong>Wire Placement:</strong> Traditional method. Stainless
              steel wires are commonly used to approximate and stabilize the
              sternum. The wires are passed around the sternum and tightened to
              secure the two halves together.
            </li>
            <li>
              <strong>Sternal Plating:</strong> More recently, additional
              fixation devices like sternal plates may be used, especially in
              patients with associated risk factors.
            </li>
          </ul>
        </li>
      </ol>
      <h5 id="benefits-of-sternal-plates-in-cardiac-surgery">
        Benefits of Sternal Plates in Cardiac Surgery
      </h5>
      <p>
        Sternal plates are utilized in cardiac surgery as a method for sternal
        closure and stabilization, particularly in situations where traditional
        wire closure may not be optimal. These plates, often made from titanium,
        are designed to provide rigid fixation of the sternum, facilitating
        healing and providing stability. Here are some of the notable benefits
        of using sternal plates:
      </p>
      <h5 id="1-enhanced-stability">1. Enhanced Stability</h5>
      <ul>
        <li>
          <strong>Rigid Fixation:</strong> Sternal plates provide a more rigid
          fixation compared to wires, reducing sternal micromotion.
        </li>
        <li>
          <strong>Support:</strong> They offer robust structural support,
          especially in patients with compromised bone quality.
        </li>
      </ul>
      <h5 id="2-improved-healing">2. Improved Healing</h5>
      <ul>
        <li>
          <strong>Alignment:</strong> Plates ensure accurate alignment of the
          sternal edges, promoting optimal healing.
        </li>
        <li>
          <strong>Reduced Stress:</strong> By providing stable fixation, sternal
          plates may reduce stress on the healing bone, minimizing the risk of
          non-union or malunion.
        </li>
      </ul>
      <h5 id="3-reduced-post-operative-pain">3. Reduced Post-Operative Pain</h5>
      <ul>
        <li>
          <strong>Stability Minimizes Pain:</strong> The stability offered by
          sternal plates can potentially minimize post-operative pain caused by
          sternal instability.
        </li>
        <li>
          <strong>Improved Respiratory Mechanics:</strong> Reduced pain may
          facilitate better respiratory mechanics, enabling patients to breathe
          deeply and cough more effectively after surgery, which is crucial for
          preventing post-operative pneumonia.
        </li>
      </ul>
      <h5 id="4-beneficial-in-high-risk-populations">
        4. Beneficial in High-Risk Populations
      </h5>
      <ul>
        <li>
          <strong>Osteoporotic Patients:</strong> In patients with osteoporosis
          or poor bone quality, sternal plates can provide enhanced stability
          and support.
        </li>
        <li>
          <strong>Obese Patients:</strong> In obese patients, where increased
          mechanical stress is placed on the sternum, plates can offer
          additional stability.
        </li>
        <li>
          <strong>Re-Operations:</strong> In cases of re-operation, where the
          sternum may be compromised, sternal plates can provide secure closure.
        </li>
      </ul>
      <h5 id="5-potential-for-reduced-complications">
        5. Potential for Reduced Complications
      </h5>
      <ul>
        <li>
          <strong>Decreased Risk of Sternal Dehiscence:</strong> The rigid
          fixation provided by sternal plates may reduce the risk of sternal
          dehiscence.
        </li>
        <li>
          <strong>Lower Infection Rates:</strong> Some studies suggest that the
          use of sternal plates may be associated with lower rates of deep
          sternal wound infections, particularly in high-risk populations.
        </li>
      </ul>
      <h5 id="6-facilitation-of-early-mobilization">
        6. Facilitation of Early Mobilization
      </h5>
      <ul>
        <li>
          <strong>Confidence in Movement:</strong> The stability provided by
          sternal plates may give patients confidence in moving and mobilizing
          early post-operation.
        </li>
        <li>
          <strong>Physical Therapy:</strong> It may facilitate physical therapy
          and rehabilitation by providing a stable sternum, allowing patients to
          engage more effectively in exercises and activities.
        </li>
      </ul>
      <h5 id="conclusion">Conclusion</h5>
      <p>
        While sternal plates offer numerous benefits, especially in specific
        patient populations, it's crucial to weigh these against the potential
        risks and costs associated with their use. The decision to utilize
        sternal plates should be based on a comprehensive assessment of the
        patient’s risk factors, the surgical context, and the potential
        advantages they offer in each specific case.
      </p>
      <p>
        <img src="../../static/img/wire_cerclage.png" alt="Wire Fixation" />
      </p>
      <h2 id="vs">VS</h2>
      <p><img src="../../static/img/slb_v_xp.png" alt="Sternal Plate" width="70%"/></p>
      <p>
        Dr. Marc Gerdisch, cariothoracic surgeon, and industry consultant giving
        a presentation on the merits of sternal plating.
      </p>
      <iframe
        width="70%"
        height="450"
        src="https://www.youtube.com/embed/nNE9mnJwq0k"
        frameborder="0"
        allowfullscreen=""
      ></iframe>
      
      <hr />
      <p><a href="#table-of-contents">Back to Top</a></p>
      <h3 id="clinical-evidence-review">Clinical Evidence Review</h3>
      <h5 id="highlighting-the-sternalock-blu-study--the-restore-study">
        Highlighting the Sternalock Blu Study &amp; the Restore Study:
      </h5>
      <iframe
        src="https://drive.google.com/file/d/10XfX_wBaqIW4KGB7PkiVHGwT4ze9ctFJ/preview"
        width="85%"
        height="800"
        allow="autoplay"
      ></iframe>
      <iframe
        src="https://drive.google.com/file/d/10TmZ1qkoyax3idLkBmY8u6qQu58DOJ9H/preview"
        width="85%"
        height="800"
        allow="autoplay"
      ></iframe>
      <h5 id="comparing-the-studies">Comparing the studies:</h5>
      <iframe
        src="https://drive.google.com/file/d/10TngR2xS_vlizMvcapOa3OqT6uOS1nlA/preview"
        width="85%"
        height="800"
        allow="autoplay"
      ></iframe>
      
      <button id="return-to-table-of-contents-button" style="display: none;">Return to Table of Contents</button>


     

     <p><a href="#table-of-contents">Back to Top</a></p>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
